* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}
li {
  font-size: 18px;
  padding: 14px;
  background-color: white;
  list-style: none;
}

li:nth-child(even) {
  background-color: #E6E6E6;
}

input[type="text"] {
  margin:30px 0 ;
  width:100%;
  outline: none;
  font-size: 16px;
  padding: 14px 10px;
  border: 2px solid #E6E6E6 ;
  border-radius: 10px;
}